chart{
    display: block;
    }
.chart-wrapper {
margin-top: 5cm;
margin-left: 2cm;
margin-right: 2cm;  
}


.select {
margin-top: 1cm;
margin-left: 1cm;
}

.button-wrapper{

    padding-bottom: 5px;
    margin-left: 1cm;
}

button{
    margin-bottom: 6px
}